
  services:
    app:
      build: .
      container_name: avakids-backend
      image: avakids-backend
      ports:
        - "8080:8080"
      depends_on:
        mysql:
          condition: service_healthy
        mongo:
          condition: service_started
      environment:
        # ===== Spring =====
  #      SPRING_PROFILES_ACTIVE: prod

        # ===== MySQL =====
        SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/avakids_db?createDatabaseIfNotExist=true
        SPRING_DATASOURCE_USERNAME: root
        SPRING_DATASOURCE_PASSWORD: 123456


        # ===== MongoDB =====
        SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/avakids_db

        # ===== JWT =====
        JWT_SIGNER_KEY: bvkfSG5tgcc6kHcMWzlinhVpgyEjCmg16w8EzZv5mPs3KT4Tt1lS3AhkkOBE3oabTJ8
      restart: unless-stopped

    mysql:
      container_name: avakids-mysql
      image: mysql:8.0
      environment:
        MYSQL_ROOT_PASSWORD: 123456
        MYSQL_DATABASE: avakids_db
      ports:
        - "3306:3306"
      volumes:
        - mysql_data:/var/lib/mysql
      restart: unless-stopped
      healthcheck:
        test:
          [
            "CMD-SHELL",
            "mysql -uroot -p123456 -e 'SELECT 1' avakids_db"
          ]
        interval: 5s
        timeout: 5s
        retries: 10
        start_period: 30s

    mongo:
      container_name: avakids-mongo
      image: mongo:7
      ports:
        - "27017:27017"
      volumes:
        - mongo_data:/data/db
      restart: unless-stopped

  volumes:
    mysql_data:
    mongo_data:

