server:
  port: 8080
  servlet:
     context-path: /avakids
spring:
  application:
    name: avakids-backend
  datasource:
    url: ${DB_URL_MYSQL:jdbc:mysql://localhost:3306/avakids?createDatabaseIfNotExist=true}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:123456}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
app:
  file:
    upload-dir: uploads  # Thư mục gốc để lưu file
    max-size: 5242880    # 5MB in bytes
    max-size-img: 2097152    # 2MB in bytes